<div class="column {{componentCssClassName}}__content">
  <img src="{{gameImage}}" class="{{componentCssClassName}}__image" />
  <div class="{{componentCssClassName}}__info">
    <h4>{{gameName}}</h4>
    {{#if staticNumberOfPlayers}}
      Players: {{minPlayers}}
    {{else}}
      Players: {{minPlayers}}-{{maxPlayers}}
    {{/if}}
  </div>
</div>
