<div class="column {{componentCssClassName}}__content">
  <img src="{{gameImage}}" class="{{componentCssClassName}}__image" />
  <div class="{{componentCssClassName}}__info">
    <h4>{{gameName}}</h4>
    Players: {{minPlayers}}-{{maxPlayers}}
  </div>
</div>
